

@font-face {
    font-family: 'source_sans_prolight';
    src: url("/font/SourceSansPro-Light.ttf");
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url("/font/SourceSansPro-Regular.ttf");
}

html ,body{
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 15rem;
}

body{
    font-family: source_sans_proregular;
    background-color: #ededed;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.ui.segment.no-margin{
    margin: 0;
}

/*.parallax {*/

/*    !* Full height *!*/
/*    height: 30%;*/

/*    !* Create the parallax scrolling effect *!*/
/*    background-attachment: fixed;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/

.ui.image.fluid.game-img-header{

}

.ui.cube.shape .side{
    height: 100%;
    padding: 0;
}

.ui.comments .comment .avatar img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.ui.dropdown .menu > .item > .image, .ui.dropdown .menu > .item > img{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.ui.dropdown .menu > .item > .image, .ui.dropdown .menu > .item > img{

}

.ui.card.eq-card {
    flex: 1; /* Shrink and grow according to available height */
    flex-basis: 0;
}

#noPadding{
    padding-top: 0;
    padding-bottom: 0.2em;
}

.parent>.child
{
    visibility: visible;
}

.parent
{
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}


.box-chat{
    position: fixed;
    bottom: 10px;
    right: 100px;
    width: 300px;

    height: 380px;
    z-index: 300;
}
.box-chat-header{
    top: 0;
    width: 100%;
    height: 12%;
    background-color: red;
}

.box-chat-exit-btn{
    position: absolute;
    right: 2%;
    top: 10%;
}

.box-chat-content{
    left: 0;
    width: 100%;
    height: 73%;
    background-color: #0ea432;
    overflow-y: scroll;
    overflow-x: hidden;
}
.box-chat-bottom{
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: rebeccapurple;
}
.box-chat-avatar{
    width: 70px;
    height: 80%;
    border-radius: 50%;
}
.box-chat .ui.segment{
    margin: 0;
    position: relative;
}

.box-chat-input{
    padding: 0;
    width: 100%;
    height: 100%;
    margin-right: 5px;
}

.box-chat-response{
    height: auto;
    width: 85%;
    margin: auto;
}

.box-chat-send{
    height: auto;
    width: 100%;
    margin: auto;

}

.ui.segment.box-chat-bottom input{
    width: 85%;
    height: 100%;
    padding: 0;
}
#box-send{
    padding: 10px;
}

.background-img {
    background: linear-gradient(304deg, #e4831e, #060606, #d83131, #31d8b7);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 0s ease infinite;
    -moz-animation: AnimationName 0s ease infinite;
    animation: AnimationName 0s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:23% 0%}
    50%{background-position:78% 100%}
    100%{background-position:23% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:23% 0%}
    50%{background-position:78% 100%}
    100%{background-position:23% 0%}
}
@keyframes AnimationName {
    0%{background-position:23% 0%}
    50%{background-position:78% 100%}
    100%{background-position:23% 0%}
}

body {
    background: linear-gradient(48deg, #000000, #2b3940, #2b3940) ;
    /*background: linear-gradient(48deg, #ffffff, #000000, #2b3940, #000000);*/
    background-size: 2000% 2000% ;
    /*animation: gradient 120s ease-in-out infinite;*/
}

body.pushable{
    background: linear-gradient(48deg, #000000, #2b3940, #2b3940) !important;
    background-size: 2000% 2000% !important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;

    }
}

.logo{
    position: absolute;
    left: 45%;
    top:-55%;
}

.parallax {
    /* The image used */
    /* Full height */
    height: 70%;
    width: 100%;

    filter: blur(20px);
    -webkit-filter: blur(20px);

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

.game-list.extra--content{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 200px;
    background-color: red;
}

.emoji-container{
    height: 250px;
    width: 100%;
    margin: 2px;
    padding: 2px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.color-box{
    width: 100%;
    height: auto;
    min-height: 120px;

}

.player-box{
    width: 100%;
    height: 100px;
    max-height: 100px;
    padding: 2px;
}

#slider{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#slider .slides{
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide{
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}
#slider img{
    float: left;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#slider .left{
    color: white;
    position: absolute;
    left: 2%;
    top: 50%;
    z-index: 1000;
}
#slider .right{
    color: white;
    position: absolute;
    right: 2%;
    top: 50%;
    z-index: 1000;
}