

@font-face {
    font-family: 'source_sans_prolight';
    src: url("/font/SourceSansPro-Light.ttf");
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url("/font/SourceSansPro-Regular.ttf");
}

html ,body{
    position: relative;
    height: 100%;
}

body{
    font-family: source_sans_proregular;
    background-color: #ededed;
}

footer{
    background-color: orange;
    left: 0;
    bottom: 0;
    height: 22vh;
    width: 100%;
    overflow: hidden;
}

.ui.segment.no-margin{
    margin: 0;
}

.parallax {
    /* The image used */
    /*background-image: url('/img/lan.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ui.image.fluid.game-img-header{

}

.ui.cube.shape .side{
    height: 100%;
    padding: 0;
}

.ui.comments .comment .avatar img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.ui.dropdown .menu > .item > .image, .ui.dropdown .menu > .item > img{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.ui.dropdown .menu > .item > .image, .ui.dropdown .menu > .item > img{

}

.ui.card.eq-card {
    flex: 1; /* Shrink and grow according to available height */
    flex-basis: 0;
}

#noPadding{
    padding-top: 0;
    padding-bottom: 0.2em;
}


.box-chat{
    position: fixed;
    bottom: 10px;
    right: 5%;
    width: 300px;
    height: 50%;
    z-index: 300;
}
.box-chat-header{
    top: 0;
    width: 100%;
    height: 12%;
    background-color: red;
}

.box-chat-exit-btn{
    position: absolute;
    right: 2%;
    top: 10%;
}

.box-chat-content{
    left: 0;
    width: 100%;
    height: 73%;
    background-color: #0ea432;
    overflow-y: scroll;
    overflow-x: hidden;
}
.box-chat-bottom{
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: rebeccapurple;
}
.box-chat-avatar{
    width: 70px;
    height: 80%;
    border-radius: 50%;
}
.box-chat .ui.segment{
    margin: 0;
    position: relative;
}

.box-chat-input{
    padding: 0;
    width: 100%;
    height: 100%;
    margin-right: 5px;
}

.box-chat-response{
    height: auto;
    width: 85%;
    margin: auto;
}

.box-chat-send{
    height: auto;
    width: 100%;
    margin: auto;
}

.ui.segment.box-chat-bottom input{
    width: 85%;
    height: 100%;
    padding: 0;
}
#box-send{
    padding: 10px;
}